{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>talkies</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
    </head>
    <body>
        
             
        
            {% if user.is_authenticated %}

                <div class="topnav">
                    <a id="logo">slacker</a>
                  <a id="nav" href="{% url 'first_page' %}">Home</a>
                  <a id="nav" href="{% url 'post_list' %}">post</a>
                  <a id="nav" href="{% url 'logout' %}">logout</a>
                  <a id="nav" href="{% url 'post_new' %}">Add post</a>
                  
                  <a id="nav" href="{% url 'profile_edit' %}">profile</a>
                  
                  <a id="nav" href="{% url 'profile' %}">my post</a>
                  <a href="#" class="fa fa-facebook"></a>
                </div>
    
            {% else %}
            <div class="topnav">
                <a id="logo">slacker</a>
                <a id="nav" href="{% url 'first_page' %}">Home</a>
                <a id="nav" href="{% url 'post_list' %}">post</a>
                <a id="nav" href="{% url 'login' %}">login</a>
                <a id="nav" href="{% url 'register' %}">Register</a>
                <a href="#" class="fa fa-facebook"></a>
              </div>
            {% endif %}
            <div class="col-md-">
               
                {% block content %}
                {% endblock %}
            
            </div>
        </div>
            
     
        
       
    </body>
</html>