{% extends 'blog/base.html' %}

{% block content %}

<div id="content_front_page">
    <h1 id="heading">+alk+ime</h1> 
    <h3 id="content_front_description">Share all your ideas......Just take a break, feel free to share your </h3>
    <h3 id="content_front_description"> ideas regarding environmental protection</h3>
    <p><i>“If at first, the idea is not absurd, then there is no hope for it.” – Albert Einstein</i></p>
    <p><i> “If you do not express your own original ideas, if you do not listen to your own being, you will have betrayed yourself.” – Rollo May</i></p>
    <p>  <i>“An idea that is not dangerous is unworthy of being called an idea at all.” – Oscar Wilde</i></p>
     <p> <i>“Ideas are like rabbits. You get a couple and learn how to handle them, and pretty soon you have a dozen.” – John Steinbeck</i></p>
  </div>

    
{% endblock %}


