
    {% extends 'blog/base.html' %}
    
    

        {% block content %}
            <h1 id="post_head">Welcome to the post section,feel free to read</h1>
                {% for post in posts %}
                    
                <div class="details">
                    <h4><a href="{% url 'author_profile' pk=post.pk %}">{{post.author}}</a></h4>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}" id="post_title">{{post.title}}</a></h2>
                    <p id="published_date">published date:{{post.published_date}}</p>
                   
                    <P>{{post.text|linebreaksbr}}</P>
                </div>
                   
                {% endfor %}    
               
        {% endblock %}         
           