{% extends 'blog/base.html' %}
{% block content %}

    {{ user }}
 
    <body>
        <div class="new_post">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Add post</a>
        <h1>hello everyone</h1>
        </div>
        {% for post in title %}
        <div class="details">
            <p>published date:{{post.published_date}}</p>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <P>{{post.text|linebreaksbr}}</P>
        </div>
         {% endfor %}
    </body>
    {% endblock %}