{% extends 'blog/base.html' %}
{% block content %}


    
 
    <body>
        <div class="new_post">
       
       <div class="container">
           <h1>hello {{ user }} </h1>
    </div>
        
        </div>
        {% for post in title %}
        <div class="details">
            <p>published date:{{post.published_date}}</p>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            {% if post.image %}
            
                <img src="{{ post.image.url }}" class="img-responsive" style="width: 50%; float: left; margin-right: 10px;" /> 
            {% endif %}
            <P>{{post.text|linebreaksbr}}</P>
        </div>
         {% endfor %}
    </body>
    {% endblock %}