h1 a{
    color:red;
    font-family: 'Lobster';
    padding-left: 20px;
    text-decoration: none;
    
}
body{
    padding-left: 10px;
}
.content{
    margin-left: 40px;
}
.details{
    padding-left: 0%;
    margin-bottom: 70px;
    margin-left: 0px;
}
.details textarea, .details input{
    width: 100%;
}
.page_header{
    background-color: aquamarine;
    padding-left: 0px;
}